
/* @override http://looce.com/css/screen.css */

/* @override http://looce.com:4000/css/screen.css */

@import url("reset.css");
@import url("syntax.css");


body {
	color: #5a5a5a;
	font: 14px/20px "trebuchet ms", Verdana, sans-serif;
}

a {
	color: #3e81cf;
	text-decoration: none;
}
a:hover {
	color: #1a3e68;
}
p {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}
h1 {
	background: url(../images/logo.png)top left no-repeat;
	width: 97px;
	height: 27px;
	text-indent: -9999px;
}

h1 a {
	display: block;
}

h2.title {
	margin-bottom: 25px;
	color: #666;
	font: bold 30px/36px Georgia, Times, serif;
}

h2.title a {
	color: #666;
}
h2.title a:hover {
	color: #222;
}
#wrapper {
	width: 900px;
	margin: 0 auto;
}

#header {
	float: left;
	width: 900px;
	margin-bottom: 20px;
	margin-top: 25px;
}

#nav {
	float: right;
	margin-top: -22px;
}

#nav li {
	display: block;
	float: left;
	margin-left: 10px;
}

.post {
	border-top: 6px solid #eee;
	float: left;
	padding-top: 11px;
	width: 900px;
	margin-bottom: 50px;
}

.info {
	float: left;
	width: 175px;
	font-size: 12px;
	color: #999;
}


.author span {
	color: #666;
	font-weight: bold;
}

#content {
	float: left;
	width: 680px;
}

.content {
	width: 500px;
	float: left;
}

#footer {
	clear: both;
}

#sidebar {
	float: left;
	width: 200px;
	margin-left: 20px;
	font-size: 12px;
}

#sidebar h3 {
	border-top: 5px solid #eee;
	padding: 10px;
	font-size: 19px;
}

#sidebar ul {
	padding-left: 10px;
}

.sideBlock {
	margin-bottom: 20px;
}

.left {
	float: left;
}

.right {
	float: right;
}

#archiveLink {
	display: block;
	float: right;
	margin-top: -27px;
}


pre {
	background: #efeded;
	overflow: auto;
	padding: 10px;
	width: 700px;
	font-size: 12px;
}

