
/* @override http://looce.com/css/screen.css */

/* @override http://looce.com:4000/css/screen.css */

@import url("reset.css");
@import url("syntax.css");


body {
	color: #444;
	font: 14px/21px "trebuchet ms", Verdana, sans-serif;
}

a {
	color: #3e81cf;
	text-decoration: none;
}
a:hover {
	color: #1a3e68;
}
p {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}
h1 {
	background: url(../images/logo.png)top left no-repeat;
	width: 97px;
	height: 27px;
	text-indent: -9999px;
}

h1 a {
	display: block;
}

h2.title {
	margin-bottom: 25px;
	color: #222;
	font: bold 30px/36px Georgia, Times, serif;
}

h2.title a {
	color: #222;
}
h2.title a:hover {
	color: #666;
}
#wrapper {
	width: 900px;
	margin: 0 auto;
}

#header {
	float: left;
	width: 900px;
	margin-bottom: 20px;
	margin-top: 25px;
}

#nav {
	float: right;
	margin-top: -22px;
}

#nav li {
	display: block;
	float: left;
	margin-left: 10px;
}

.post {
	border-top: 5px solid #e9e9e9;
	float: left;
	padding-top: 11px;
	width: 900px;
	margin-bottom: 50px;
}

.info {
	float: left;
	width: 175px;
	font-size: 12px;
	color: #999;
}


.author span {
	color: #666;
	font-weight: bold;
}

#content {
	float: left;
	width: 680px;
}

.content {
	width: 500px;
	float: left;
    font-size: 16px;
}

#footer {
	border-top: 1px dotted #ccc;
	width: 900px;
	clear: both;
	padding-bottom: 100px;
	margin-bottom: 100px;
}



#footer h3 {
	border-top: 5px solid #eee;
	padding: 10px;
	font-size: 19px;
}

#footer ul {
	padding-left: 10px;
}

.footBlock {
	width: 200px;
	float: left;
	margin-right: 20px;
}

.left {
	float: left;
}

.right {
	float: right;
}

#archiveLink {
	display: block;
	float: right;
	margin-top: -30px;
}


pre {
	background: #000;
	overflow: auto;
	padding: 10px;
	width: 800px;
	font-size: 12px;
	margin-left: -100px;
	color: #fff;
	line-height: 15px;
}

h3 {
	font-weight: bold;
	font-family: georgia, Times, serif;
	margin-top: 25px;
	font-size: 18px;
	color: #222;
}

p.copy {
	height: 50px;
	width: 259px;
	float: left;
}

#archives {
	width: 421px;
	margin-right: 0;
}

#comments {
	float: left;
	margin-top: 50px;
}