---
layout: default
---
<div class="post">
  <ul class="info">
    <li class="date">{{page.date | date: "%B %d %Y"}}</li>
    <li class="author"><span>by</span> {{page.byline}}</li>
  </ul>
  <div class="content">
    <h2 class="title"><a href="{{ page.url }}">{{ page.title }}</a></h2>
    {{ content }}
    <div id="comments">
      <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/angst/embed.js"></script><noscript><a href="http://disqus.com/forums/angst/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
    
  </div>
</div>
