<!DOCTYPE html>
<html lang="en" xml:lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Angst | {{ page.title }}</title>
        <meta name="Robots" content="index,all" />
        <meta name="Keywords" content="angst, web development, userscripts.org, userscripts, bookburro" />
        <meta name="Description" content="Angst | We worry so you don't have to." />
        <link rel="stylesheet" href="../css/screen.css" type="text/css" media="screen" />

    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <h1><a href="/">Angst, We worry so you don't have to.</a></h1>
                <ul id="nav">
                  <li><a href="#">projects</a></li>
                  <li><a href="#">blog</a></li>
                  <li><a href="#">about</a></li>
                  <li><a href="#">github</a></li>
                </ul>
            </div>
            <div id="content">
              {{content}}
            </div>
            
            <div id="sidebar">
              <div class="sideBlock">
                <h3>Projects</h3>
                <ul>
                  <li><a href="#">BookBurro</a></li>
                  <li><a href="#">UserScripts</a></li>
                  <li><a href="#">Taboo</a></li>
                  <li><a href="#">PartlyCloudy</a></li>
                </ul>
              </div>
              <div class="sideBlock">
                <h3>Older Posts</h3>
                <a href="#" id="archiveLink">Archives >></a>
                
                <ul>
                  <li><a href="#">03 Nov 2009 &mdash; Post Title Here</a></li>
                  <li><a href="#">03 Nov 2009 &mdash; Post Title Here</a></li>
                  <li><a href="#">03 Nov 2009 &mdash; Post Title Here</a></li>
                  <li><a href="#">03 Nov 2009 &mdash; Post Title Here</a></li>
                  <li><a href="#">03 Nov 2009 &mdash; Post Title Here</a></li>
                </ul>
              </div>
            </div>
            
            
            <div id="footer">
                <p class="copy">Copyright &copy; 2009 Overstimulate</p>
            </div>  
        </div>
    </body>
</html>


